#ve-table {
  height: 100%;
}

#iframe-shell #ve-table {
  height: 100%;
}

#iframe-shell {
  overflow: auto;
  height: 100%;
}

#iframe-shell h2 {
  font-size: 20px;
}

#iframe-shell a:hover,
#iframe-shell a:visited,
#iframe-shell a:link,
#iframe-shell a:active
{
    text-decoration: none;
}

body, html {
  height: 100% !important;
  padding-top: 0px;
}

html body.admin-menu {
  margin-top: 0px  !important;
}

#iframe-shell .region-content {
  margin: 0 !important;
}

#iframe-shell .field-name-field-ve-settings{
  display: none;
}